table{
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border-collapse: collapse;
    
}
td{
    border: 1px solid black;
    padding: 4px;

}
td.id{
    border: none;
    padding: 4px;
}
th{
    border: 1px solid black;
    padding: auto;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
button{
    color: purple;
    border: 1px solid black;
}