<h1>studentlist works!</h1>
<h1>Student Details using Angular Service</h1>
<table class="center">
    <thead>
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Date Of Birth</th>
        </tr>
        
    </thead>
<tbody>
     <tr (click)="onSelect(student)" *ngFor="let student of students"> 
       <button> <td class="id">{{student.id}}</td></button>
        <td>{{student.name}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.dateOfBirth}}</td>
   </tr>
 </tbody>
</table>
